  <footer class="page-footer text-center text-md-left grey darken-3 pt-0">
    <div class="light-blue darken-4">
      <div class="container">
        <div class="row py-4 d-flex align-items-center">
          <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
            <h6 class="mb-0 white-text">Get connected with us on social networks!</h6>
          </div>
          <div class="col-md-6 col-lg-7 text-center">
            <a  href="https://facebook.com/PrebuiltCompUK" class="fb-ic" data-toggle="tooltip" data-placement="top" title="Follow us on Facebook">
              <i class="fab fa-facebook fa-2x"></i>
            </a>
            <a  href="https://twitter.com/PrebuiltCompUK" class="tw-ic" data-toggle="tooltip" data-placement="top" title="Follow us on Twitter">
              <i class="fab fa-twitter fa-2x"></i>
            </a>
            <a  href="https://instragram.com/PrebuiltCompUK" class="ins-ic" data-toggle="tooltip" data-placement="top" title="Follow us on Instagram">
              <i class="fab fa-instagram fa-2x"></i>
            </a>
            <a  href="https://twitch.com/prebuiltcomputersuk" class="twitch-ic" data-toggle="tooltip" data-placement="top" title="Follow us on Twitch">
              <i class="fab fa-twitch fa-2x"></i>
            </a>
            <a  href="https://discord.prebuiltcomputers.uk" class="discord-ic" data-toggle="tooltip" data-placement="top" title="Chat with us via Discord">
              <i class="fab fa-discord fa-2x"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="container mt-5 mb-4 text-center text-md-left">
      <div class="row mt-3">

        <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
          <h6 class="text-uppercase font-weight-bold">
            <strong class="orange-text">Prebuilt</strong> <strong class="blue-text">Computers</strong> <strong class="light-blue-text darken-2">UK</strong>
          </h6>
          <hr class="blue mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            Prebuilt Computers UK is a custom PC building company located in Liverpool, United Kingdom.
            <hr>
            We specialise in building high quality computers.
            <hr>
            We accept quotes and custom orders.
            <hr>
            We accommodate all computer users, be it; gamers, professionals or home/office users.
          </p>
        </div>

        <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
          <h6 class="text-uppercase font-weight-bold">
            <strong>Products</strong>
          </h6>
          <hr class="blue mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a  href="https://prebuiltcomputers.uk/amd"><i class="fas fa-home mr-3"></i> AMD Systems</a>
          </p>
          <hr>
          <p>
            <a  href="https://prebuiltcomputers.uk/intel"><i class="fas fa-headset mr-3"></i> Intel Systems</a>
          </p>
          <hr>
          <p>
            <a  href="https://prebuiltcomputers.uk/workstations"><i class="fas fa-bolt mr-3"></i> Creative Systems</a>
          </p>
          <hr>
          <p>
            <a  href="https://prebuiltcomputers.uk/laptops"><i class="fas fa-plane mr-3"></i> Laptops</a>
          </p>
          <hr>
          <p>
            <a  href="https://prebuiltcomputers.uk/accessories"><i class="fas fa-keyboard mr-3"></i> System Cleaning Services</a>
          </p>
        </div>

        <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
          <h6 class="text-uppercase font-weight-bold">
            <strong>Useful links</strong>
          </h6>
          <hr class="blue mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p><a  href="https://prebuiltcomputers.uk/ordering-procedures"><i class="fas fa-pencil-alt mr-3"></i>Ordering Procedures</a></p>
          <hr>
          <p><a  href="https://prebuiltcomputers.uk/faq"><i class="fas fa-question mr-3"></i>FAQ</a></p>
          <hr>
          <p><a  href="https://prebuiltcomputers.uk/delivery-rates"><i class="fas fa-shuttle-van mr-3"></i>Delivery Rates</a></p>
          <hr>
          <p><a href="https://builder.prebuiltcomputers.uk/"><i class="fas fa-wrench mr-3"></i>Custom PC Builder</a></p>
          <hr>
          <p><a href="https://builds.prebuiltcomputers.uk/"><i class="fas fa-wrench mr-3"></i>Custom PC Builds and Quotes</a></p>
          <hr>
          <p><a href="https://prebuiltcomputers.uk/cart"><i class="fas fa-cart-arrow-down mr-3"></i>Cart {{# if session.cart.totalItems }}<span class="badge badge-primary">{{session.cart.totalItems}} Item(s)</span>{{/if}}</a></p>
        </div>

        <div class="col-md-3 col-lg-4 col-xl-3">
          <h6 class="text-uppercase font-weight-bold">
            <strong>Contact Information</strong>
          </h6>
          <hr class="blue mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p><i class="fas fa-envelope mr-3"></i>contact@prebuiltcomputers.uk</p>
          <p><i class="fas fa-phone mr-3"></i>(+44) 0151 528 5880</p>
          <p><i class="far fa-clock mr-3"></i>Open Times:</p>
          <p>Monday - Friday <br> 9.00am - 5.00pm</p>
          <p>Saturday - Sunday <br> 11.00am - 3.00pm</p>
        </div>

      </div>
    </div>

    <div class="footer-copyright py-3 text-center grey darken-4">
      <div class="container-fluid">
        &copy; 2019 - 2020 Copyright: <a href="https://prebuiltcomputers.uk/" ><strong class="orange-text">Prebuilt</strong> <strong class="blue-text">Computers</strong> <strong class="light-blue-text darken-2">UK</strong></a>
        <hr>
        <a class="font-weight-bold"  href="https://prebuiltcomputers.uk/t&c"><i class="fas fa-book"></i> Terms and Conditions</a> |
        <a class="font-weight-bold"  href="https://prebuiltcomputers.uk/privacy"><i class="fas fa-book-open"></i> Privacy Policy</a> |
        <a class="font-weight-bold"  href="https://prebuiltcomputers.uk/ordering-procedures"><i class="fas fa-pencil-alt"></i> Ordering Procedures</a> |
        <a class="font-weight-bold"  href="https://prebuiltcomputers.uk/delivery-rates"><i class="fas fa-shuttle-van"></i> Delivery Rates</a> |
        <a class="font-weight-bold"  href="https://prebuiltcomputers.uk/faq"><i class="fas fa-question"></i> FAQ</a>
      </div>
    </div>

  </footer>