<div class="container z-depth-1 my-5 px-0">

  <!--Section: Content-->
  <section class="my-md-5" 
    style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/People/12-col/img%20(97).jpg'); background-size: cover; background-position: center center;">

    <div class="rgba-black-strong rounded p-5">

      <!-- Section heading -->
      <h3 class="text-center font-weight-bold text-white mt-3 mb-5">Contact Us</h3>

      <form class="mx-md-5" method="POST" action="send">

        <div class="row">
          <div class="col-md-6 mb-4">

            <div class="card">
              <div class="card-body px-4">
                {{msg}}

                <!-- Name -->
                <div class="md-form md-outline mt-0">
                  <input type="text" id="name" class="form-control">
                  <label for="name">Name</label>
                </div>
                <!-- Email -->
                <div class="md-form md-outline">
                  <input type="text" id="email" class="form-control">
                  <label for="email">Email Address</label>
                </div>
                <!-- Message -->
                <div class="md-form md-outline">
                  <textarea id="message" class="md-textarea form-control" rows="3"></textarea>
                  <label for="message">Message</label>
                </div>

                <button type="submit" class="btn btn-primary btn-md btn-block ml-0 mb-0">Submit Email</button>

              </div>
            </div>

          </div>
          <div class="col-md-5 offset-md-1 mt-md-4 mb-4 white-text">

            <h5 class="font-weight-bold">Open Times:</h5>
            <p class="mb-0">Monday - Friday</p>
            <p class="mb-0"> - 9.00am - 5.00pm</p>
            <p class="mb-0">Saturday - Sunday</p>
            <p class="mb-4 pb-2"> - 11.00am - 3.00pm</p>


            <h5 class="font-weight-bold">Phone Number:</h5>
            <p class="mb-4 pb-2">(+44) 0151 528 5880</p>

            <h5 class="font-weight-bold">Email Address:</h5>
            <p>contact@prebuiltcomputers.uk</p>

          </div>
        </div>

      </form>

    </div>

  </section>
  <!--Section: Content-->


</div>

{{msg}}
<form method="POST" action="send">
    <p>
    <label>Name</label>
    <input type="text" name="name">
    </p>
    <p>
    <label>Company</label>
    <input type="text" name="company">
    </p>
    <p>
    <label>Email Address</label>
    <input type="email" name="email">
    </p>
    <p>
    <label>Phone Number</label>
    <input type="text" name="phone">
    </p>
    <p>
    <label>Message</label>
    <textarea name="message" rows="5"></textarea>
    </p>
    <p>
    <button type="submit">Submit</button>
    </p>
</form>