
      <!-- Grid row -->
      <div class="row d-flex align-items-center h-100">

        <!-- Grid column -->
        <div class="col-12">

          <!--Section: Block Content-->
          <section class="mt-70 mb-5 text-center">

            <h1 class="display-1">{{error.status}}</h1>

            <h4 class="mb-4">{{message}}</h4>

            <pre class="text-left">{{error.stack}}</pre>

          </section>
          <!--Section: Block Content-->

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->