<div class="container my-5 py-5 z-depth-1 grey darken-4">

  <!--Section: Content-->
  <section class=" white-text text-center">
    
    <h3 class="font-weight-bold pt-4 mb-4">{{title}}</h3>

    <div class="row mx-lg-5 mx-md-3">
      <div class="col-md-6 mb-4">
        
        <div class="view mb-5">
          <img src="/images/AMD.jpg" class="img-fluid" alt="AMD Ryzen">
        </div>

        <button type="button" class="btn btn-danger" href="/amd">Choose an AMD System</button>
        <button type="button" class="btn btn-outline-danger" href="/amd-about">Learn about AMD Processors and which is suited for both; Budget and Purpose</button>

     	</div>
     	<div class="col-md-6 mb-4">
        
        <div class="view mb-5">
          <img src="/images/INTEL.jpg" class="img-fluid" alt="Intel Core">
        </div>

        <button type="button" class="btn btn-primary" href="/intel">Choose an Intel System</button>
        <button type="button" class="btn btn-outline-primary" href="/intel-about">Learn about Intel Processors and which is suited for both; Budget and Purpose</button>

      </div>
    </div>

  </section>
  <!--Section: Content-->

</div>

<div class="container my-5 py-5 z-depth-1 grey darken-4">

  <!--Section: Content-->
  <section class="white-text text-center">
    
    <h3 class="font-weight-bold pt-4 mb-4">Computer Parts and Accessories</h3>
    
    <div class="row mx-lg-12 mx-md-3">
      <div class="col-md-12 mb-4">

        <button type="button" class="btn warning-color-dark" href="/parts">PARTS AND ACCESSORIES</button>

     	</div>
    </div>

  </section>
  <!--Section: Content-->

</div>