
    <h1>Terms and conditions</h1>
    <h2>Please read all these terms and conditions.</h2>
    <h2>As we can accept your order and make a legally enforceable agreement without further reference
        to you, you must read these terms and conditions to make sure that they contain all that you want and nothing
        that you are not happy with.&nbsp;</h2>
    <h3>Application</h3>
    <div>
        <div>1.&nbsp;These Terms and Conditions will apply to the purchase of the goods by you
            (the&nbsp;<b>Customer</b>&nbsp;or&nbsp;<b>you</b>).&nbsp;&nbsp;We
            are&nbsp;Jack&nbsp;Oldfield&nbsp;trading as&nbsp;Prebuilt Computers UK&nbsp;of&nbsp;103 Herondale
            Road,&nbsp;Mossley Hill,&nbsp;Merseyside,&nbsp;L18 1JZ&nbsp;&nbsp;&nbsp;with&nbsp;&nbsp;email
            address&nbsp;contact@prebuiltcomputers.uk;&nbsp;&nbsp;&nbsp;&nbsp;(the&nbsp;<b>Supplier</b>&nbsp;or&nbsp;<b>us</b>&nbsp;or&nbsp;<b>we</b>).
        </div>
        <div>2.&nbsp;These are the terms on which we sell all Goods to you. By ordering any of the
            Goods, you agree to be bound by these Terms and Conditions.&nbsp;&nbsp;Before placing an order on the
            Website, you will be asked to agree to these Terms and Conditions by clicking on the button marked 'I
            Accept'. If you do not click on the button, you will not be able to complete your Order.&nbsp;&nbsp;You can
            only purchase the Goods from the Website if you are eligible to enter into a contract and are at least 18
            years old.</div>
    </div>
    <h3>Interpretation</h3>
    <div>
        <div>3.&nbsp;<b>Consumer</b>&nbsp;means an individual acting for purposes which
            are wholly or mainly outside his or her trade, business, craft or profession;</div>
    </div>
    <div>
        <div>4.&nbsp;<b>Contract</b>&nbsp;means the legally-binding agreement between
            you and us for the supply of the Goods;</div>
    </div>
    <div>
        <div>5.&nbsp;<b>Delivery Location</b>&nbsp;means the Supplier's premises or
            other location where the Goods are to be supplied, as set out in the Order;</div>
    </div>
    <div>
        <div>6.&nbsp;<b>Durable Medium</b>&nbsp;means paper or email, or any other
            medium that allows information to be addressed personally to the recipient, enables the recipient to store
            the information in a way accessible for future reference for a period that is long enough for the purposes
            of the information, and allows the unchanged reproduction of the information stored;</div>
    </div>
    <div>
        <div>7.&nbsp;<b>Goods</b>&nbsp;means the goods advertised on the Website that
            we supply to you of the number and description as set out in the Order;</div>
    </div>
    <div>
        <div>8.&nbsp;<b>Order</b>&nbsp;means the Customer's order for the Goods from
            the Supplier as submitted following the step by step process set out on the Website;</div>
    </div>
    <div>
        <div>9.&nbsp;<b>Privacy Policy</b>&nbsp;means the terms which set out how we
            will deal with confidential and personal information received from you via the Website;</div>
    </div>
    <div>
        <div>10.&nbsp;<b>Website</b>&nbsp;means our
            website&nbsp;www.prebuiltcomputers.uk&nbsp;on which the Goods are advertised.</div>
    </div>
    <h3>Goods</h3>
    <div>
        <div>11.&nbsp;The description of the Goods is as set out in the Website, catalogues, brochures
            or other form of advertisement. Any description is for illustrative purposes only and there may be small
            discrepancies in the size and colour of the Goods supplied.</div>
    </div>
    <div>
        <div>12.&nbsp;In the case of any Goods made to your special requirements, it is your
            responsibility to ensure that any information or specification you provide is accurate.</div>
    </div>
    <div>
        <div>13.&nbsp;All Goods which appear on the Website are subject to availability.</div>
    </div>
    <div>
        <div>14.&nbsp;We can make changes to the Goods which are necessary to comply with any applicable
            law or safety requirement. We will notify you of these changes.</div>
    </div>
    <h3>Personal information&nbsp;and Registration</h3>
    <div>
        <div>15.&nbsp;When registering to use the Website you must set up a username and password. You
            remain responsible for all actions taken under the chosen username and password and undertake not to
            disclose your username and password to anyone else and keep them secret.</div>
    </div>
    <div>
        <div>16.&nbsp;We retain and use all information strictly under the Privacy Policy.</div>
    </div>
    <div>
        <div>17.&nbsp;We may contact you by using e-mail or other electronic communication methods and
            by pre-paid post and you expressly agree to this.</div>
    </div>
    <h3>Basis of Sale</h3>
    <div>
        <div>18.&nbsp;The description of the Goods in our website does not constitute a contractual
            offer to sell the Goods. When an Order has been submitted on the Website, we can reject it for any reason,
            although we will try to tell you the reason without delay.</div>
    </div>
    <div>
        <div>19.&nbsp;The Order process is set out on the Website. Each step allows you to check and
            amend any errors before submitting the Order. It is your responsibility to check that you have used the
            ordering process correctly.</div>
    </div>
    <div>
        <div>20.&nbsp;A Contract will be formed for the sale of Goods ordered only when you receive an
            email from us confirming the Order (<b>Order Confirmation</b>). You must ensure that the
            Order Confirmation is complete and accurate and inform us immediately of any errors. We are not responsible
            for any inaccuracies in the Order placed by you. By placing an Order you agree to us giving you confirmation
            of the Contract by means of an email with all information in it (ie the Order Confirmation). You will
            receive the Order Confirmation within a reasonable time after making the Contract, but in any event not
            later than the delivery of any Goods supplied under the Contract.</div>
    </div>
    <div>
        <div>21.&nbsp;Any quotation is valid for a maximum period
            of&nbsp;&nbsp;14&nbsp;&nbsp;days&nbsp;&nbsp;from its date, unless we expressly withdraw it at an earlier
            time.</div>
    </div>
    <div>
        <div>22.&nbsp;No variation of the Contract, whether about description of the Goods, Fees or
            otherwise, can be made after it has been entered into unless the variation is agreed by the Customer and the
            Supplier in writing.</div>
    </div>
    <div>
        <div>23.&nbsp;We intend that these Terms and Conditions apply only to a Contract entered into by
            you as a Consumer. If this is not the case, you must tell us, so that we can provide you with a different
            contract with terms which are more appropriate for you and which might, in some respects, be better for you,
            eg by giving you rights as a business.</div>
    </div>
    <h3>Price and Payment</h3>
    <div>
        <div>24.&nbsp;The price of the Goods and any additional delivery or other charges is that set
            out on the Website at the date of the Order or such other price as we may agree in writing.</div>
    </div>
    <div>
        <div>25.&nbsp;Prices and charges include VAT at the rate applicable at the time of the Order.
        </div>
    </div>
    <div>
        <div>26.&nbsp;You must pay by submitting your credit or debit card details with your Order and
            we can take payment immediately or otherwise before delivery of the Goods.</div>
    </div>
    <h3>Delivery</h3>
    <div>
        <div>27.&nbsp;We will deliver the Goods, to the Delivery Location by the time or within the
            agreed period or, failing any agreement, without undue delay and, in any event, not more than 30 days after
            the day on which the Contract is entered into.</div>
    </div>
    <div>
        <div>28.&nbsp;In any case, regardless of events beyond our control, if we do not deliver the
            Goods on time, you can (in addition to any other remedies) treat the Contract at an end if:</div>
    </div>
    <ol>
        <li>we have refused to deliver the Goods, or if delivery on time is essential taking into
            account all the relevant circumstances at the time the Contract was made, or you said to us before the
            Contract was made that delivery on time was essential; or</li>
        <li>after we have failed to deliver on time, you have specified a later period which is
            appropriate to the circumstances and we have not delivered within that period.</li>
    </ol>
    <div>
        <div>29.&nbsp;If you treat the Contract at an end, we will (in addition to other remedies)
            promptly return all payments made under the Contract.</div>
    </div>
    <div>
        <div>30.&nbsp;If you were entitled to treat the Contract at an end, but do not do so, you are
            not prevented from cancelling the Order for any Goods or rejecting Goods that have been delivered and, if
            you do this, we will (in addition to other remedies) without delay return all payments made under the
            Contract for any such cancelled or rejected Goods. If the Goods have been delivered, you must return them to
            us or allow us to collect them from you and we will pay the costs of this.</div>
    </div>
    <div>
        <div>31.&nbsp;If any Goods form a commercial unit (a unit is a commercial unit if division of
            the unit would materially impair the value of the goods or the character of the unit) you cannot cancel or
            reject the Order for some of those Goods without also cancelling or rejecting the Order for the rest of
            them.</div>
    </div>
    <div>
        <div>32.&nbsp;We do not generally deliver to addresses outside England and Wales, Scotland,
            Northern Ireland, the Isle of Man and Channels Islands. If, however, we accept an Order for delivery outside
            that area, you may need to pay import duties or other taxes, as we will not pay them.</div>
    </div>
    <div>
        <div>33.&nbsp;You agree we may deliver the Goods in instalments if we suffer a shortage of stock
            or other genuine and fair reason, subject to the above provisions and provided you are not liable for extra
            charges.</div>
    </div>
    <div>
        <div>34.&nbsp;If you or your nominee fail, through no fault of ours, to take delivery of the
            Goods at the Delivery Location, we may charge the reasonable costs of storing and redelivering them.</div>
    </div>
    <div>
        <div>35.&nbsp;The Goods will become your responsibility from the completion of delivery or
            Customer collection. You must, if reasonably practicable, examine the Goods before accepting them.</div>
    </div>
    <h3>Risk and Title</h3>
    <div>
        <div>36.&nbsp;Risk of damage to, or loss of, any Goods will pass to you when the Goods are
            delivered to you.</div>
    </div>
    <div>
        <div>37.&nbsp;You do not own the Goods until we have received payment in full. If full payment
            is overdue or a step occurs towards your bankruptcy, we can choose, by notice to cancel any delivery and end
            any right to use the Goods still owned by you, in which case you must return them or allow us to collect
            them.</div>
    </div>
    <h3>Withdrawal, returns&nbsp;and cancellation</h3>
    <div>
        <div>38.&nbsp;You can withdraw the Order by telling us before the Contract is made, if you
            simply wish to change your mind and without giving us a reason, and without incurring any liability.</div>
    </div>
    <div>
        <div>39.&nbsp;This is a&nbsp;<b>distance contract</b>&nbsp;(as defined below)
            which has the cancellation rights&nbsp;<b>(Cancellation Rights)</b>&nbsp;set out below.
            These Cancellation Rights, however, do not apply, to a contract for the following goods (with no others) in
            the following circumstances:</div>
    </div>
    <ol>
        <li>goods that are made to your specifications or are clearly personalised;</li>
        <li>goods which are liable to deteriorate or expire rapidly.</li>
    </ol>
    <div>
        <div>40.&nbsp;Also, the Cancellation Rights for a Contract cease to be available in the
            following circumstances:</div>
    </div>
    <ol>
        <li>in the case of any sales contract, if the goods become mixed inseparably (according to their
            nature) with other items after delivery.</li>
    </ol>
    <p>Right to cancel</p>
    <div>
        <div>41.&nbsp;Subject as stated in these Terms and Conditions, you can cancel this contract
            within 14 days without giving any reason.</div>
    </div>
    <div>
        <div>42.&nbsp;The cancellation period will expire after 14 days from the day on which you
            acquire, or a third party, other than the carrier indicated by you, acquires physical possession of the last
            of the Goods. In a contract for the supply of goods over time (ie subscriptions), the right to cancel will
            be 14 days after the first delivery.</div>
    </div>
    <div>
        <div>43.&nbsp;To exercise the right to cancel, you must inform us of your decision to cancel
            this Contract by a clear statement setting out your decision (eg a letter sent by post, fax or email). You
            can use the attached model cancellation form, but it is not obligatory. In any event, you must be able to
            show clear evidence of when the cancellation was made, so you may decide to use the model cancellation form.
        </div>
    </div>
    <div>
        <div>44.&nbsp;You can also electronically fill in and submit the model cancellation form or any
            other clear statement of the Customer's decision to cancel the Contract on our
            website&nbsp;www.prebuiltcomputers.uk. If you use this option, we will communicate to you an acknowledgement
            of receipt of such a cancellation in a Durable Medium (eg by email) without delay.</div>
    </div>
    <div>
        <div>45.&nbsp;To meet the cancellation deadline, it is sufficient for you to send your
            communication concerning your exercise of the right to cancel before the cancellation period has expired.
        </div>
    </div>
    <p>Effects of cancellation in the cancellation period</p>
    <div>
        <div>46.&nbsp;Except as set out below, if you cancel this Contract, we will reimburse to you
            all payments received from you, including the costs of delivery (except for the supplementary costs arising
            if you chose a type of delivery other than the least expensive type of standard delivery offered by us).
        </div>
    </div>
    <p>Deduction for Goods supplied</p>
    <div>
        <div>47.&nbsp;We may make a deduction from the reimbursement for loss in value of any Goods
            supplied, if the loss is the result of unnecessary handling by you (ie handling the Goods beyond what is
            necessary to establish the nature, characteristics and functioning of the Goods: eg it goes beyond the sort
            of handling that might be reasonably allowed in a shop). This is because you are liable for that loss and,
            if that deduction is not made, you must pay us the amount of that loss.</div>
    </div>
    <p>Timing of reimbursement</p>
    <div>
        <div>48.&nbsp;If we have not offered to collect the Goods, we will make the reimbursement
            without undue delay, and not later than:</div>
    </div>
    <ol>
        <li>14 days after the day we receive back from you any Goods supplied, or</li>
        <li>(if earlier) 14 days after the day you provide evidence that you have sent back the Goods.
        </li>
    </ol>
    <div>
        <div>49.&nbsp;If we have offered to collect the Goods or if no Goods were supplied, we will make
            the reimbursement without undue delay, and not later than 14 days after the day on which we are informed
            about your decision to cancel this Contract.</div>
    </div>
    <div>
        <div>50.&nbsp;We will make the reimbursement using the same means of payment as you used for the
            initial transaction, unless you have expressly agreed otherwise; in any event, you will not incur any fees
            as a result of the reimbursement.</div>
    </div>
    <p>Returning Goods</p>
    <div>
        <div>51.&nbsp;If you have received Goods in connection with the Contract which you have
            cancelled, you must send back the Goods or hand them over to us at&nbsp;&nbsp;&nbsp;&nbsp;103 Herondale
            Road,&nbsp;Mossley Hill,&nbsp;Merseyside,&nbsp;L18 1JZ&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;without delay and in any
            event not later than 14 days from the day on which you communicate to us your cancellation of this Contract.
            The deadline is met if you send back the Goods before the period of 14 days has expired. You agree that you
            will have to bear the cost of returning the Goods.</div>
    </div>
    <div>
        <div>52.&nbsp;For the purposes of these Cancellation Rights, these words have the following
            meanings:</div>
    </div>
    <ol>
        <li><b>distance contract</b>&nbsp;means a contract concluded between a trader
            and a consumer under an organised distance sales or service-provision scheme without the simultaneous
            physical presence of the trader and the consumer, with the exclusive use of one or more means of distance
            communication up to and including the time at which the contract is concluded;</li>
        <li><b>sales contract</b>&nbsp;means a contract under which a trader transfers
            or agrees to transfer the ownership of goods to a consumer and the consumer pays or agrees to pay the price,
            including any contract that has both goods and services as its object.</li>
    </ol>
    <h3>Conformity</h3>
    <div>
        <div>53.&nbsp;We have a legal duty to supply the Goods in conformity with the Contract, and will
            not have conformed if it does not meet the following obligation.</div>
    </div>
    <div>
        <div>54.&nbsp;Upon delivery, the Goods will:</div>
    </div>
    <ol>
        <li>be of satisfactory quality;</li>
        <li>be reasonably fit for any particular purpose for which you buy the Goods which, before the
            Contract is made, you made known to us (unless you do not actually rely, or it is unreasonable for you to
            rely, on our skill and judgment) and be fit for any purpose held out by us or set out in the Contract; and
        </li>
        <li>conform to their description.</li>
    </ol>
    <div>
        <div>55.&nbsp;It is not a failure to conform if the failure has its origin in your materials.
        </div>
    </div>
    <div>
        <div>56.&nbsp;We will provide the following after-sales service:&nbsp;The supplier will support
            the customer in installing and activating their new equipment..</div>
    </div>
    <h3>Successors and our sub-contractors</h3>
    <div>
        <div>57.&nbsp;Either party can transfer the benefit of this Contract to someone else, and will
            remain liable to the other for its obligations under the Contract. The Supplier will be liable for the acts
            of any sub-contractors who it chooses to help perform its duties.</div>
    </div>
    <h3>Circumstances beyond the control of either party</h3>
    <div>
        <div>58.&nbsp;In the event of any failure by a party because of something beyond its reasonable
            control:</div>
    </div>
    <ol>
        <li>the party will advise the other party as soon as reasonably practicable; and</li>
        <li>the party's obligations will be suspended so far as is reasonable, provided that that party
            will act reasonably, and the party will not be liable for any failure which it could not reasonably avoid,
            but this will not affect the Customer's above rights relating to delivery and any right to cancel, below.
        </li>
    </ol>
    <h3>Privacy</h3>
    <div>
        <div>59.&nbsp;Your privacy is critical to us. We respect your privacy and comply with the
            General Data Protection Regulation with regard to your personal information.</div>
    </div>
    <div>
        <div>60.&nbsp;These Terms and Conditions should be read alongside, and are in addition to our
            policies, including our privacy policy (https://www.prebuiltcomputers.uk/privacy) and cookies policy
            (https://www.prebuiltcomputers.uk/cookies/).</div>
    </div>
    <div>
        <div>61.&nbsp;For the purposes of these Terms and Conditions:</div>
    </div>
    <ol>
        <li>'Data Protection Laws' means any applicable law relating to the processing of Personal Data,
            including, but not limited to the Directive 95/46/EC (Data Protection Directive) or the GDPR.</li>
        <li>'GDPR' means the General Data Protection Regulation (EU) 2016/679.</li>
        <li>'Data Controller', 'Personal Data' and 'Processing' shall have the same meaning as in the
            GDPR.</li>
    </ol>
    <div>
        <div>62.&nbsp;We are a Data Controller of the Personal Data we Process in providing Goods to
            you.</div>
    </div>
    <div>
        <div>63.&nbsp;Where you supply Personal Data to us so we can provide Goods to you, and we
            Process that Personal Data in the course of providing the Goods to you, we will comply with our obligations
            imposed by the Data Protection Laws:</div>
    </div>
    <ol>
        <li>before or at the time of collecting Personal Data, we will identify the purposes for which
            information is being collected;</li>
        <li>we will only Process Personal Data for the purposes identified;</li>
        <li>we will respect your rights in relation to your Personal Data; and</li>
        <li>we will implement technical and organisational measures to ensure your Personal Data is
            secure.</li>
    </ol>
    <div>
        <div>64.&nbsp;For any enquiries or complaints regarding data privacy, you can
            contact&nbsp;&nbsp;our Data Protection Officer&nbsp;at the following e-mail
            address:&nbsp;contact@prebuiltcomputers.uk.</div>
    </div>
    <h3>Excluding liability</h3>
    <div>
        <div>65.&nbsp;The Supplier does not exclude liability for: (i) any fraudulent act or omission;
            or (ii) for death or personal injury caused by negligence or breach of the Supplier's other legal
            obligations. Subject to this, the Supplier is not liable for (i) loss which was not reasonably foreseeable
            to both parties at the time when the Contract was made, or (ii) loss (eg loss of profit) to the Customer's
            business, trade, craft or profession which would not be suffered by a Consumer - because the Supplier
            believes the Customer is not buying the Goods wholly or mainly for its business, trade, craft or profession.
        </div>
    </div>
    <h3>Governing law, jurisdiction and complaints</h3>
    <div>
        <div>66.&nbsp;The Contract (including any non-contractual matters) is governed by the law
            of&nbsp;England and Wales.</div>
    </div>
    <div>
        <div>67.&nbsp;Disputes can be submitted to the jurisdiction of the courts of&nbsp;England and
            Wales&nbsp;or, where the Customer lives in&nbsp;Scotland&nbsp;or Northern Ireland, in the courts of
            respectively&nbsp;Scotland&nbsp;or Northern Ireland.</div>
    </div>
    <div>
        <div>68.&nbsp;We try to avoid any dispute, so we deal with complaints in the following
            way:&nbsp;If a dispute occurs customers should contact us to find a solution. We will aim to respond with an
            appropriate solution within 7 working days..</div>
    </div>
    <h2>Model cancellation Form</h2>
    <p>
        To<span>&nbsp;<br>&nbsp;</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Jack&nbsp;Oldfield&nbsp;trading
        as&nbsp;Prebuilt Computers UK<span>&nbsp;<br>&nbsp;</span>&nbsp;103 Herondale
        Road<span>&nbsp;<br>&nbsp;</span>&nbsp;&nbsp;Mossley
        Hill<span>&nbsp;<br>&nbsp;</span>&nbsp;&nbsp;Merseyside<span>&nbsp;<br>&nbsp;</span>&nbsp;L18
        1JZ<span>&nbsp;<br>&nbsp;</span>&nbsp;&nbsp;&nbsp;<span>&nbsp;<br>&nbsp;</span>&nbsp;Email
        address:&nbsp;contact@prebuiltcomputers.uk<span>&nbsp;<br>&nbsp;</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>&nbsp;<br>&nbsp;</span>&nbsp;<span>&nbsp;<br>&nbsp;</span>&nbsp;I/We[*]
        hereby give notice that I/We [*] cancel my/our [*] contract of sale of the following goods [*] [for the supply
        of the following service [*], Ordered on [*]/received on [*]______________________(date
        received)<span>&nbsp;<br>&nbsp;&nbsp;<br>&nbsp;&nbsp;<br>&nbsp;</span>&nbsp;Name of
        consumer(s):<span>&nbsp;<br>&nbsp;&nbsp;<br>&nbsp;&nbsp;<br>&nbsp;&nbsp;<br>&nbsp;</span>&nbsp;Address of
        consumer(s):<span>&nbsp;<br>&nbsp;&nbsp;<br>&nbsp;&nbsp;<br>&nbsp;</span>
    </p>
    <table>
        <tbody>
            <tr>
                <td>
                    <p>&nbsp;</p>
                </td>
            </tr>
        </tbody>
    </table>
    <h2>Signature of consumer(s) (only if this form is notified on paper)</h2>
    <table>
        <tbody>
            <tr>
                <td>
                    <p>&nbsp;</p>
                </td>
            </tr>
        </tbody>
    </table>
    <h2>Date</h2>
    <p><span>&nbsp;<br>&nbsp;</span>&nbsp;<span>&nbsp;<br>&nbsp;</span>&nbsp;[*] Delete as
        appropriate.<span>&nbsp;</span><span><br></span><span>&nbsp;</span></p>